name: "Renovate (Dev)"
on:
  pull_request:

env:
    RENOVATE_DRY_RUN: true

jobs:
    renovate-repos-dry-run:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
          
        - name: Self-hosted Renovate
          uses: renovatebot/github-action@a3c115cd6676c8a5bc72f9715f108759e570daf5 # v43.0.19
          with:
            token: ${{ secrets.RENOVATE_TOKEN }}
            configurationFile: ./global-renovate-config.json